body
{
    margin: 0 auto;
    letter-spacing: -0.03em;
    font-family: 'Manrope', Courier, monospace;
    font-weight: 400;
    background-color: #FFFFFF;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-size: 18px;
    line-height: 25px;
}
.services_title{
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
