.logo{
    cursor: pointer;
}
.header{ 
    padding-top: 33px;
} 
.box_title{
    color: #FFFFFF;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    text-align: right;
}
.menu-item{
    padding-right: 60px;
}
.menu-link:hover{
    text-decoration: underline; 
    color:gray;
}
a{
   text-decoration: none;
   color:inherit;
} 
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.welcom__description{
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size: 20px;
    line-height: 27px;
    color: white;   
}
.about{
    margin-top: 150px;
}
.welcom__title{
    margin-top: 68px;
    font-size: 60px;
    line-height: 60px;
    width: 972px;
}
.welcome_wrapper{
    position: relative;
    margin-top: 30px;
    height: 500px;
    background-image: url('./img/Room1.png');
}
.founded{
    margin-top: 30px;
    font-size: 45px;
    line-height: 61px;
    width: 1081px;
}
.btn-services{
    margin-top: 30px;
    display: block;
    text-align: center;
    width: 255px;
    font-size: 20px;
    line-height: 67px;
    height: 67px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #ad1818;
    background: #AD1818;
}
.btn-services:hover{
    color: #AD1818;
    background-color: #FFFFFF; 
}
.project{
    margin: 150px 0;
}
.services{
    padding: 150px 0;
    display: block;
    background: #121212;
}
.projects{
    margin-top: 30px;
}
.project__adout{
    margin-top: 90px;
}
.project__adout:first-child{
    margin: 0;
}
.project__link{
    display: block;
    padding-top: 15px;
    font-size: 20px;
    line-height: 27px;
    color: #AD1818;
}
.project__btn{
    margin-top: 90px;
    display: block;
    font-size: 30px;
    line-height: 153px;
    height: 153px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ad1818;
    color: #ad1818;
}
.project__btn:hover{
    color: #FFFFFF;
    background-color: #AD1818;
}
.sevices__description{
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}
.project__title{
    margin-top: 15px;
    font-size: 30px;
    line-height: 41px;
}
.item__services{
    padding-top: 150px;
}
.services__img:nth-child(2){
    margin-top: 34px;
}
.services__img{
    margin-top: 60px;
}
.box{
    height: 717px;
    background-image: url('./img/Rectangle 10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.box__wrapper{
    position: relative;
    height: 717px;
}
.box__title{
    position: absolute;
    font-size: 30px;
    line-height: 41px;
    height: 82px;
    left: 125px;
    bottom: 60px;
    width: 443px;
    color: #FFFFFF;
}

