.header{ 
    padding-top: 33px;
} 
.box_title{
    color: #FFFFFF;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    cursor: pointer;
}
.menu{
    display: flex;
}
.menu__item{
    padding-right: 60px;
}
.menu__item:last-child {
    padding-right: 0;
}
.menu__link{
    font-size: 18px;
    line-height: 25px;
}
.menu__link:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
    color:gray;
}
.welcome__title{
    margin-top: 68px;
    font-size: 60px;
    line-height: 63px;
    width: 972px;
    letter-spacing: -1.8px;
}
.welcome__wrapper{
    position: relative;
    margin-top: 30px;
    height: 500px;
    background-image: url('./img/Room1.png');
}
.welcom__description{
    position: absolute;
    left: 40px;
    bottom: 43px;
    width: 430px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.6px;
    color: white;   
}
.about{
    margin-top: 150px;
}
.about__description{
    margin-top: 30px;
    font-size: 45px;
    line-height: 61px;
    width: 1081px;
    letter-spacing: -1.38px;
}
.btn-services{
    margin-top: 25px;
    display: block;
    text-align: center;
    width: 255px;
    font-size: 20px;
    line-height: 67px;
    height: 67px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #ad1818;
    background: #AD1818;
}
.btn-services:hover{
    color: #AD1818;
    background-color: #FFFFFF; 
}
.projects{
    margin: 150px 0;
}
.services{
    padding: 150px 0;
    display: block;
    background: #121212;
}
.projects__list{
    margin-top: 30px;
}
.projects__item{
    margin-top: 90px;
}
.projects__item:first-child{
    margin: 0;
}
.projects__link{
    display: block;
    padding-top: 15px;
    font-size: 20px;
    line-height: 27px;
    color: #AD1818;
}
.projects__btn{
    margin-top: 90px;
    display: block;
    font-size: 30px;
    line-height: 153px;
    height: 153px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ad1818;
    color: #ad1818;
}
.projects__btn:hover{
    color: #FFFFFF;
    background-color: #AD1818;
}
.sevices__description{
    margin-top: 15px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
}
.projects__title{
    margin-top: 15px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -1px;
}
.item__services{
    padding-top: 150px;
}
.services__img:nth-child(2){
    margin-top: 34px;
}
.services__img{
    margin-top: 60px;
}
.box{
    height: 717px;
    background-image: url('./img/Rectangle 10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.box__wrapper{
    position: relative;
    height: 717px;
}
.box__title{
    position: absolute;
    font-size: 30px;
    line-height: 41px;
    height: 82px;
    bottom: 60px;
    width: 443px;
    letter-spacing: -1px;
    color: #FFFFFF;
}
.projects_list{
    margin-top: 150px;
}
.contacts{
    margin: 150px 0 ;
}
.contacts__title{
    display: block;
    font-size: 18px;
    line-height: 25px;
    position: relative;
}
.phone::before{
    content: '';
    display: block;
    margin-left: -5px;
    margin-bottom: 12px;
    width: 24px;
    height: 24px;
    background-image: url('img/phone1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.contacts__title{
    font-size: 18px;
    line-height: 25px;
}
.contacts__link{
    display: inline-block;
    padding-top: 30px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 3px;
    letter-spacing: -1px;
    border-bottom: 2px solid #FFFFFF
    
}
.contacts__link:hover{
    opacity: 0.5;
    border-color:  rgba(0, 0, 0, 0.5);
    color:gray;
}
footer{
    padding: 60px 0 30px 0;
    height: 229px;
    background: #121212;
}
.footer{
    display: flex;
}
.footer__list{
    display: flex;
    margin: 0 auto;
}
.footer__item{
    margin-right: 55px;
    margin-bottom: 87px;
}
.footer__link{
    display: block;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #FFFFFF;
}
.footer__link:hover{
    opacity: 0.5;
}
.footer__item:last-child {
    margin-right: 0;
}
.footer__title{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    opacity: 0.5;
    letter-spacing: -0.7px;
    color: #FFFFFF;
}